# https://github.com/readthedocs-examples/example-mkdocs-basic/blob/main/docs/requirements.txt
# requirements.txt
jinja2==3.1.4  #https://pypi.org/project/Jinja2/
mkdocs>=1.6.0  #https://github.com/mkdocs/mkdocs
